.cluster-marker {
  color: #fff;
  background: #f0a721;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crime-marker {
  background: none;
  border: none;
}

.crime-marker img {
  width: 35px;
}
*:focus {
  outline: none;
}